body {
  font-family: var(--main-font);
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 34px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding: 0 74px;
    max-width: 1280px;
  }
}
.section {
  padding: 100px 0;
}

.section-title {
  font-family: var(--header-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.138;
  text-transform: uppercase;
  color: var(--circleColor);
}

.highlighted-word-section {
  font-family: var(--header-font);
  font-size: 34px;
  line-height: 1.067;
  letter-spacing: 0.04em;
  color: var(--brandColor);
  animation: glow 1.5s infinite alternate;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 120px 0;
  }
  .section-title {
    font-size: 26px;
  }
  .highlighted-word-section {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 30px;
  }
  .highlighted-word-section {
    font-size: 58px;
  }
}
.icon-logo-animation {
  -webkit-animation: rotate-in-ver 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite forwards;
  animation: rotate-in-ver 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite forwards;
}

@keyframes rotate-in-ver {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.icecreamText-animation {
  -webkit-animation: text-focus-in 1s linear forwards;
  animation: text-focus-in 1s linear forwards;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
  }
}
@keyframes reveal {
  from {
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes glow {
  from {
    text-shadow: 0px 0px 1px #D41443, 0px 0px 1px #D41443;
  }
  to {
    text-shadow: 0px 0px 3px #D41443, 0px 0px 3px #D41443;
  }
}
@-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@-webkit-keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
    transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
    transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes roll-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) rotate(720deg);
    transform: translateX(1000px) rotate(720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) rotate(720deg);
    transform: translateX(1000px) rotate(720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.circle-animation {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
}

.pulsate-fwd {
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #FFA5BA;
  }
  100% {
    background: #f593aa;
  }
}
@keyframes color-change-2x {
  0% {
    background: #FFA5BA;
  }
  100% {
    background: #f593aa;
  }
}
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.section-title-animation {
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.tilt-in-fwd-tl {
  -webkit-animation: tilt-in-fwd-tl 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-fwd-tl 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
.tilt-in-fwd-tr {
  -webkit-animation: tilt-in-fwd-tr 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-fwd-tr 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
.slide-in-left {
  -webkit-animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-bottom {
  -webkit-animation: slide-in-bottom 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bottom 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-right {
  -webkit-animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
.buyBtn {
  width: 159px;
  height: 44px;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  background-color: var(--mainColor);
  color: var(--brandColor);
  border: none;
  border-radius: 22px;
}
.buyBtn:hover,
.buyBtn :focus {
  background-color: var(--hoverBuyBtn);
  animation: scale-up-center 1s linear infinite;
}

.burger-menuBtn {
  background-color: transparent;
  border: none;
}

.productsBtn,
.how-its-madeBtn {
  height: 24px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}

.productsBtn {
  width: 62.4px;
  background-color: var(--brandColor);
  color: var(--mainColor);
}
.productsBtn:hover,
.productsBtn :focus {
  background-color: var(--hoverProductsBtn);
  animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.how-its-madeBtn {
  background-color: var(--mainColor);
  color: var(--brandColor);
}
.how-its-madeBtn:hover,
.how-its-madeBtn :focus {
  background-color: var(--hoverBuyBtn);
  animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.moreBtn {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  padding: 5px;
  margin-top: 7px;
}
.moreBtn:hover,
.moreBtn :focus {
  background-color: var(--hoverBuyBtn);
  animation: scale-up-center 1s linear infinite;
}

.read-moreBtn {
  width: 176px;
  height: 44px;
  border: none;
  border-radius: 22px;
  color: var(--brandColor);
  background-color: var(--mainColor);
}
.read-moreBtn:hover,
.read-moreBtn :focus {
  background-color: var(--hoverBuyBtn);
  animation: scale-up-center 1s linear infinite;
}

.locationBtn,
.franchiseBtn {
  height: 44px;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;
  border-radius: 22px;
  border: none;
}

.locationBtn {
  width: 198px;
  color: var(--mainColor);
  background-color: var(--brandColor);
}
.locationBtn:hover,
.locationBtn :focus {
  background-color: var(--hoverProductsBtn);
  animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.franchiseBtn {
  width: 180px;
  color: var(--brandColor);
  background: var(--mainColor);
}
.franchiseBtn:hover,
.franchiseBtn :focus {
  background-color: var(--hoverBuyBtn);
  animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.icon-logo {
  width: 50px;
  height: 50px;
  fill: var(--brandColor);
}

.icon-burger-menu {
  width: 20px;
  height: 20px;
  fill: var(--brandColor);
}

.buyBtn-modal__form-input-icon {
  width: 12px;
  height: 12px;
  fill: var(--brandColor);
}

.icon-close-btn {
  width: 14px;
  height: 14px;
}

.icon-readMore {
  width: 8px;
  height: 8px;
  margin-left: 10px;
}

.icon-readMore-white {
  width: 8px;
  height: 8px;
  margin-left: 10px;
  fill: var(--mainColor);
}

.icon-moreBtn {
  width: 6px;
  height: 6px;
  fill: var(--brandColor);
}

.social-icon {
  width: 20px;
  height: 20px;
}

.footer {
  background-color: var(--howItsMadeBg);
  padding-bottom: 25px;
}

.footer .container {
  display: block;
}

.footer-title-box {
  margin-right: auto;
}

.footer-title {
  width: 234px;
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.13333;
  text-transform: uppercase;
  color: var(--circleColor);
}

.footer-social__list {
  display: flex;
  float: right;
}

.footer-social__item {
  background-color: var(--socialBg);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 43px;
}
.footer-social__item:not(:last-child) {
  margin-right: 25px;
}
.footer-social__item:hover,
.footer-social__item :focus {
  animation: scale-up-center 1s linear infinite;
  background-color: var(--brandColor);
}

.social-icon {
  display: block;
  fill: var(--mainColor);
}

.contact-phone {
  float: right;
  margin-top: 46px;
  margin-bottom: 43px;
}

.footer-bottom-box {
  text-align: center;
}
.footer-bottom-box::before {
  content: "";
  min-width: 1280px;
  height: 1px;
  background-color: var(--lineColor);
  display: flex;
  margin-bottom: 8px;
}

.highlighted-word-phone:link {
  color: var(--brandColor);
}
.highlighted-word-phone:link:visited {
  color: var(--brandColor);
}
.highlighted-word-phone:link:hover,
.highlighted-word-phone:link :focus {
  text-shadow: 2px 2px 4px var(--brandColor);
}

.contact-phone {
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--undertitleColor);
}

.highlighted-word-phone {
  color: var(--brandColor);
}

.footer-text {
  width: 150px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  margin: 0 auto;
  color: var(--textColor);
  padding-top: 22px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 18px;
  }
  .footer-title {
    width: 340px;
    font-size: 26px;
  }
  .footer-social__list {
    display: flex;
    position: relative;
    top: -205px;
  }
  .footer-social__item {
    background-color: var(--socialBg);
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 43px;
  }
  .footer-social__item:not(:last-child) {
    margin-right: 25px;
  }
  .footer-social__item:hover,
  .footer-social__item :focus {
    animation: scale-up-center 1s linear infinite;
    background-color: var(--brandColor);
  }
  .social-icon {
    display: block;
    fill: var(--mainColor);
  }
  .contact-phone {
    float: right;
    position: relative;
    top: -155px;
    margin-top: 46px;
    margin-bottom: 43px;
  }
  .footer-bottom-box {
    text-align: center;
  }
  .footer-bottom-box::before {
    content: "";
    min-width: 1280px;
    height: 1px;
    background-color: var(--lineColor);
    display: flex;
    margin-bottom: 8px;
  }
  .highlighted-word-phone:link {
    color: var(--brandColor);
  }
  .highlighted-word-phone:link:visited {
    color: var(--brandColor);
  }
  .highlighted-word-phone:link:hover,
  .highlighted-word-phone:link :focus {
    text-shadow: 2px 2px 4px var(--brandColor);
  }
  .contact-phone {
    position: relative;
    top: -130px;
    right: -150px;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--undertitleColor);
  }
  .highlighted-word-phone {
    color: var(--brandColor);
  }
  .footer-text {
    min-width: 276px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    margin: 0 auto;
    color: var(--textColor);
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-bottom: 18px;
  }
  .footer-title {
    width: 474px;
    font-size: 30px;
  }
  .footer-social__list {
    position: relative;
    top: -130px;
  }
  .footer-social__item {
    margin-top: 33px;
  }
  .contact-phone {
    margin-top: 110px;
    margin-bottom: 0;
  }
  .contact-phone {
    position: relative;
    top: -130px;
    right: -150px;
  }
  .footer-text {
    min-width: 276px;
  }
}
.gallery {
  background-image: linear-gradient(180deg, var(--howItsMadeBg) 40%, var(--mainColor) 0);
}

.gallery-img {
  width: 100%;
  height: 100%;
  border-radius: 22px;
}
.gallery-img:hover,
.gallery-img :focus {
  position: relative;
  z-index: 1;
  transform: scale(1.2);
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px 3px;
  grid-template-areas: ". gallery-grid__item-2 gallery-grid__item-4 gallery-grid__item-4 gallery-grid__item-6 gallery-grid__item-8 ." "gallery-grid__item-1 . gallery-grid__item-4 gallery-grid__item-4 . . gallery-grid__item-10" ". gallery-grid__item-3 gallery-grid__item-5 . gallery-grid__item-7 gallery-grid__item-9 .";
}

.gallery-grid__item-1 {
  grid-area: gallery-grid__item-1;
}

.gallery-grid__item-2 {
  grid-area: gallery-grid__item-2;
  position: relative;
  top: 20px;
}

.gallery-grid__item-3 {
  grid-area: gallery-grid__item-3;
  position: relative;
  bottom: 20px;
}

.gallery-grid__item-4 {
  grid-area: gallery-grid__item-4;
}

.gallery-grid__item-5 {
  grid-area: gallery-grid__item-5;
}

.gallery-grid__item-6 {
  grid-area: gallery-grid__item-6;
  position: relative;
  top: 25px;
}

.gallery-grid__item-7 {
  grid-area: gallery-grid__item-7;
  position: relative;
  bottom: 15px;
}

.gallery-grid__item-8 {
  grid-area: gallery-grid__item-8;
  position: relative;
  top: 10px;
}

.gallery-grid__item-9 {
  grid-area: gallery-grid__item-9;
  position: relative;
  bottom: 30px;
}

.gallery-grid__item-10 {
  grid-area: gallery-grid__item-10;
}

@media screen and (min-width: 768px) {
  .gallery-grid {
    gap: 5px 5px;
  }
  .gallery-grid__item-2 {
    top: 50px;
  }
  .gallery-grid__item-3 {
    bottom: 50px;
  }
  .gallery-grid__item-6 {
    top: 60px;
  }
  .gallery-grid__item-7 {
    bottom: 40px;
  }
  .gallery-grid__item-8 {
    top: 30px;
  }
  .gallery-grid__item-9 {
    bottom: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-grid__item-2 {
    top: 80px;
  }
  .gallery-grid__item-3 {
    bottom: 80px;
  }
  .gallery-grid__item-6 {
    top: 100px;
  }
  .gallery-grid__item-7 {
    bottom: 60px;
  }
  .gallery-grid__item-8 {
    top: 60px;
  }
  .gallery-grid__item-9 {
    bottom: 100px;
  }
}
.header {
  background-color: var(--headerBg);
  padding-top: 6px;
}

.header .container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  max-width: 480px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text {
  font-family: var(--header-font);
  font-size: 25px;
  font-weight: 400;
  line-height: 1.1333333333;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--brandColor);
  padding-left: 10px;
}

.nav,
.buyBtn {
  display: none;
}

.nav__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3125;
  color: var(--mainColor);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 800ms;
}
.nav__link:hover,
.nav__link :focus {
  color: var(--brandColor);
  animation: text-shadow-drop-center ease-in-out 800ms both;
}

.burger-menuBtn {
  display: flex;
  margin-left: auto;
  margin-right: 12px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 37px;
  }
  .header .container {
    max-width: 768px;
  }
  .logo-text {
    font-size: 30px;
  }
  .nav {
    display: none;
  }
  .burger-menuBtn {
    margin-left: auto;
    margin-right: 30px;
  }
  .buyBtn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 32px;
  }
  .header .container {
    max-width: 1280px;
  }
  .logo-text {
    font-size: 35px;
  }
  .nav {
    display: flex;
  }
  .nav {
    position: relative;
    z-index: 1;
    padding-left: 79px;
  }
  .nav__list {
    display: flex;
    gap: 35px;
  }
  .buyBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }
  .burger-menuBtn {
    display: none;
  }
}
.hero {
  background-color: var(--headerBg);
}

.hero .container {
  position: relative;
  display: flex;
  width: 1280px;
}

.hero-passion {
  position: relative;
  z-index: 2;
}

.hero-title {
  width: 218px;
  font-family: var(--header-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.154;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--mainColor);
  padding-top: 137px;
}

.highlighted-word {
  font-family: var(--header-font);
  font-size: 48px;
  line-height: 1.067;
  color: var(--brandColor);
  animation: glow 1.5s infinite alternate;
}

.heroBtn__list {
  position: relative;
  display: flex;
  z-index: 1;
  gap: 8px;
  padding: 20px 0 160px 0;
}

.heroBtn__item {
  height: 24px;
}

.productsBtn,
.how-its-madeBtn {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  padding: 7px 14px;
}

.circle {
  position: absolute;
  width: 346px;
  height: 344px;
  background-color: var(--circleColor);
  border-radius: 50%;
  transition: color-change-2x 2s linear infinite alternate both;
  animation: showRight 3s, pulsation 2s linear 3s;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
  z-index: 0;
  top: 27px;
  left: 36px;
}

.ice-cream {
  position: absolute;
  bottom: 0;
  left: 123px;
  z-index: 1;
  animation: flip-in-ver-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1ms both;
}

.eco,
.counter,
.tasty-img {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-title {
    width: 162px;
    font-size: 22px;
    line-height: 1.14;
    padding-top: 15px;
  }
  .highlighted-word {
    font-size: 34px;
    letter-spacing: 0.03em;
  }
  .heroBtn__list {
    padding: 20px 0;
  }
  .circle {
    position: absolute;
    width: 324px;
    height: 324px;
    top: -56px;
    left: 307px;
  }
  .ice-cream {
    position: absolute;
    bottom: 0;
    left: 378px;
    width: 143px;
    height: 336px;
  }
  .eco,
  .counter,
  .tasty-img {
    display: flex;
  }
  .eco-img {
    width: 124px;
    height: 126px;
    margin-bottom: 28px;
    animation: roll-in-blurred-left 2s cubic-bezier(0.23, 1, 0.32, 1) 0.2s both;
  }
  .eco-text {
    width: 114px;
    font-size: 8px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--mainColor);
    padding-top: 47px;
  }
  .eco-text span {
    display: block;
    opacity: 0;
    animation: reveal 0.5s forwards var(--d);
  }
  .moreBtn {
    width: 18px;
    height: 18px;
  }
  .counter {
    position: relative;
    right: 0;
    display: block;
    float: right;
    z-index: 1;
    padding-top: 14px;
    margin-left: auto;
    margin-right: 10px;
  }
  .counter-number {
    display: flex;
    font-family: var(--header-font);
    font-size: 28px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--brandColor);
  }
  .counter-number::before {
    content: "";
    position: absolute;
    z-index: -1;
    right: -5px;
    width: 15px;
    height: 15px;
    background-color: var(--mainColor);
    border-radius: 50%;
  }
  .counter-name1,
  .counter-name2 {
    font-size: 8px;
    color: var(--mainColor);
  }
  .counter-name1 {
    padding-left: 8px;
    padding-bottom: 13px;
  }
  .counter-name2 {
    position: relative;
    right: 10px;
  }
  .tasty-img {
    position: absolute;
    width: 168px;
    height: 133px;
    z-index: 2;
    bottom: 0;
    right: 34px;
    animation: roll-in-blurred-right 2s cubic-bezier(0.23, 1, 0.32, 1) 0.2s both;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    width: 277px;
    font-size: 38px;
    padding-top: 89px;
  }
  .highlighted-word {
    font-size: 58px;
  }
  .heroBtn__list {
    padding: 25px 0 58px 0;
  }
  .circle {
    top: -30px;
    left: 515px;
    width: 538px;
    height: 538px;
  }
  .ice-cream {
    left: 630px;
    width: 236px;
    height: 557px;
  }
  .eco-img {
    width: 188px;
    height: 191px;
    margin-bottom: 45px;
  }
  .eco-text {
    width: 200px;
    font-size: 14px;
    padding-top: 56px;
    margin-left: 20px;
  }
  .moreBtn {
    width: 26px;
    height: 26px;
    margin-top: 20px;
  }
  .hero .icon-moreBtn {
    width: 9px;
    height: 8px;
  }
  .counter {
    padding-top: 74px;
    margin-left: auto;
    margin-right: 10px;
  }
  .counter-number {
    font-size: 46px;
  }
  .counter-number::before {
    right: -5px;
    width: 25px;
    height: 25px;
  }
  .counter-name1,
  .counter-name2 {
    font-size: 14px;
  }
  .counter-name1 {
    padding-left: 15px;
    padding-bottom: 18px;
  }
  .counter-name2 {
    right: 15px;
  }
  .tasty-img {
    width: 293px;
    height: 232px;
    right: 96px;
  }
}
.howItsMade {
  background-color: var(--howItsMadeBg);
}

.howItsMade-box {
  display: block;
  justify-content: center;
}

.howItsMade .section-title {
  width: 200px;
  margin-bottom: 29px;
  text-align: center;
}

.cow-img {
  width: 280px;
  height: 279px;
}

.howItsMade__item {
  width: 220px;
  margin: 0 auto;
}

.howItsMade-undertitle,
.howItsMade-text {
  font-size: 12px;
  line-height: 1.6;
}

.howItsMade-undertitle {
  color: var(--undertitleColor);
  padding: 46px 0;
}

.howItsMade-text {
  color: var(--textColor);
  padding-bottom: 20px;
}

.advantages__list {
  display: block;
}

.advantages__item {
  padding-top: 38px;
}
.advantages__item::before {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}
.advantages__item:nth-child(1)::before {
  background-image: url(../images/mobile/advantages-icon1.svg);
}
.advantages__item:nth-child(2)::before {
  background-image: url(../images/mobile/advantages-icon2.svg);
}
.advantages__item:nth-child(3)::before {
  background-image: url(../images/mobile/advantages-icon3.svg);
}

.advantages-number {
  font-weight: 400;
  padding: 15px 0;
}

.advantages-text {
  width: 230px;
}

@media screen and (min-width: 768px) {
  .howItsMade .section-title {
    width: 450px;
    margin-bottom: 50px;
  }
  .howItsMade-box {
    display: flex;
  }
  .cow-img {
    width: 340px;
    height: 339px;
    padding-right: 17px;
    animation: tilt-in-fwd-tl 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .howItsMade__list {
    animation: tilt-in-fwd-tr 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .howItsMade__item {
    width: 340px;
  }
  .howItsMade-undertitle,
  .howItsMade-text {
    font-size: 14px;
  }
  .howItsMade-undertitle {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .howItsMade-text {
    padding-bottom: 62px;
  }
  .advantages__list {
    display: flex;
  }
  .advantages__item {
    width: 180px;
    padding-top: 66px;
  }
  .advantages__item:not(:last-child) {
    margin-right: 60px;
  }
  .advantages-number {
    padding-top: 36px;
    padding-bottom: 13px;
  }
  .advantages-text {
    width: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .howItsMade {
    background-image: url(../images/desktop/howItsMade/sectionbg_desktop@1x.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .howItsMade {
    background-image: url(../images/desktop/howItsMade/sectionbg_desktop@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .howItsMade .section-title {
    width: 534px;
    margin-bottom: 55px;
    text-align: center;
  }
  .cow-img {
    width: 516px;
    height: 516px;
    padding-right: 74px;
  }
  .howItsMade__item {
    width: 463px;
    margin: 0 auto;
  }
  .howItsMade-undertitle {
    font-size: 16px;
    padding-bottom: 35px;
  }
  .howItsMade-text {
    font-size: 14px;
    padding-bottom: 45px;
  }
  .advantages__item {
    width: 330px;
    padding-top: 39px;
  }
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
  .advantages-number {
    padding-top: 36px;
    padding-bottom: 15px;
  }
  .advantages-text {
    width: 250px;
  }
}
.locations {
  background-image: linear-gradient(var(--mainColor) 30px, var(--howItsMadeBg) 0, var(--howItsMadeBg) 851px);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  background-position-y: 60px, 0;
}

.locations__list {
  display: block;
  gap: 31px;
}

.locations__item {
  width: 220px;
  background-color: var(--mainColor);
  padding: 43px 20px;
  border-radius: 22px;
  box-shadow: 0 8px 30px rgba(212, 20, 67, 0.1);
  margin: 0 auto;
}
.locations__item:not(:last-child) {
  margin-bottom: 20px;
}
.locations__item:hover {
  transform: scale(1.1);
}

.location-name {
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  background: var(--iceCoffeeBg);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mainColor);
}

.cafe {
  width: 80px;
  height: 16px;
  background: var(--iceCoffeeBg);
}

.foodtruck {
  width: 130px;
  height: 16px;
  background: var(--milkshakesBg);
}

.location-town {
  font-size: 12px;
  line-height: 1.86;
  margin-top: 25px;
  margin-bottom: 10px;
}

.location-description {
  font-size: 12px;
  line-height: 1.83;
  max-width: 243px;
  color: var(--textColor);
}
.location-description::after {
  content: "";
  width: 179px;
  height: 1px;
  background-color: var(--lineColor);
  display: flex;
  margin-top: 25px;
}

.location-openingDays {
  font-size: 12px;
  line-height: 1.86;
  margin-top: 25px;
}

.location-openingHours {
  font-size: 12px;
  line-height: 1.86;
  color: var(--circleColor);
}

.location-phone,
.location-email {
  font-size: 12px;
  line-height: 1.83;
  color: var(--textColor);
}

.location-phone::before {
  content: "";
  width: 179px;
  height: 1px;
  background-color: var(--lineColor);
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
}

.locations-btn__list {
  display: grid;
  gap: 10px;
  margin-top: 54px;
  justify-content: center;
}

.location-btn__btn {
  width: 161px;
}

@media screen and (min-width: 768px) {
  .locations {
    background-image: linear-gradient(var(--mainColor) 30px, var(--howItsMadeBg) 0, var(--howItsMadeBg) 851px);
    background-position-y: 60px, 0;
  }
  .locations__list {
    display: flex;
    gap: 20px;
  }
  .locations__item {
    padding: 50px 31px;
  }
  .locations__item:not(:last-child) {
    margin-bottom: 0;
  }
  .location-town {
    margin-top: 30px;
    margin-bottom: 14px;
  }
  .location-description::after {
    width: 157px;
    margin-top: 30px;
  }
  .location-openingDays {
    margin-top: 30px;
  }
  .location-phone::before {
    width: 157px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .locations-btn__list {
    display: flex;
    gap: 14px;
    margin-top: 81px;
    justify-content: center;
  }
  .locationBtn {
    width: 191px;
  }
  .franchiseBtn {
    width: 174px;
  }
}
@media screen and (min-width: 1200px) {
  .locations {
    background-image: url(../images/desktop/locations/sectionbg_desktop@1x.png), linear-gradient(var(--mainColor) 100px, var(--howItsMadeBg) 0, var(--howItsMadeBg) 851px);
    background-position: 50%;
    background-position-y: 80px, 0;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .locations {
    background-image: url(../images/desktop/locations/sectionbg_desktop@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .locations__list {
    display: flex;
    gap: 31px;
  }
  .locations__item {
    width: 330px;
    padding: 51px 43px 62px;
  }
  .location-name {
    font-size: 16px;
  }
  .cafe {
    width: 73px;
    height: 28px;
    background: var(--iceCoffeeBg);
  }
  .foodtruck {
    width: 138px;
    height: 28px;
  }
  .location-town {
    font-size: 16px;
    margin-top: 32px;
    margin-bottom: 10px;
  }
  .location-description {
    font-size: 16px;
    max-width: 243px;
  }
  .location-description::after {
    content: "";
    width: 234px;
    height: 1px;
    background-color: var(--lineColor);
    display: flex;
    margin-top: 32px;
  }
  .location-openingDays {
    font-size: 16px;
    margin-top: 32px;
  }
  .location-openingHours {
    font-size: 16px;
  }
  .location-phone,
  .location-email {
    font-size: 16px;
  }
  .location-phone::before {
    content: "";
    width: 234px;
    height: 1px;
    background-color: var(--lineColor);
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .locations-btn__list {
    display: flex;
    gap: 15px;
    margin-top: 86px;
    justify-content: center;
  }
}
.our-products {
  text-align: center;
}

.section-title {
  width: 200px;
  line-height: 2.5;
  margin: 0 auto 144px auto;
}

.products__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.products-img {
  position: relative;
  top: -296px;
}

.products__item {
  position: relative;
  width: 280px;
  border-radius: 22px;
}
.products__item:hover,
.products__item :focus {
  transform: scale(1.1);
}
.products__item::before {
  position: absolute;
  top: -115px;
  display: block;
  left: 16px;
  right: 16px;
  content: "";
  width: 249px;
  height: 252px;
  background-repeat: no-repeat;
  background-size: cover;
}
.products__item:not(:last-child) {
  margin-bottom: 130px;
}
.products__item:nth-child(1) {
  background-color: var(--headerBg);
}
.products__item:nth-child(1):hover,
.products__item:nth-child(1) :focus {
  box-shadow: 0px 0px 15px 10px rgba(255, 184, 202, 0.55);
}
.products__item:nth-child(1)::before {
  background-image: url(../images/desktop/products/icecream_desktop@1x.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item:nth-child(1)::before {
    background-image: url(../images/desktop/products/icecream_desktop@2x.png);
  }
}
.products__item:nth-child(2) {
  background-color: var(--iceCoffeeBg);
}
.products__item:nth-child(2):hover,
.products__item:nth-child(2) :focus {
  box-shadow: 0px 0px 15px 10px rgba(240, 209, 165, 0.55);
}
.products__item:nth-child(2)::before {
  background-image: url(../images/desktop/products/icecoffee_desktop@1x.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item:nth-child(2)::before {
    background-image: url(../images/desktop/products/icecoffee_desktop@2x.png);
  }
}
.products__item:nth-child(3) {
  background-color: var(--milkshakesBg);
}
.products__item:nth-child(3):hover,
.products__item:nth-child(3) :focus {
  box-shadow: 0px 0px 15px 10px rgba(194, 226, 151, 0.55);
}
.products__item:nth-child(3)::before {
  background-image: url(../images/desktop/products/milkshakes_desktop@1x.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item:nth-child(3)::before {
    background-image: url(../images/desktop/products/milkshakes_desktop@2x.png);
  }
}

.product-name {
  font-family: var(--header-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.1333333333;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--mainColor);
  padding-top: 163px;
}
.product-name::after {
  content: "...";
  display: block;
  letter-spacing: 4px;
  border-radius: 50%;
  color: var(--mainColor);
  margin: 0 auto;
  padding-top: 32px;
}

.product-text {
  width: 200px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  color: var(--mainColor);
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-products .moreBtn {
  width: 40px;
  height: 40px;
  margin-top: 0px;
  margin-bottom: 40px;
}

.our-products .icon-moreBtn {
  width: 9px;
  height: 9px;
}

.advantages-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: var(--undertitleColor);
}

@media screen and (min-width: 768px) {
  .section-title {
    width: 283px;
    margin: 0 auto 150px auto;
  }
  .products__list {
    display: flex;
    flex-direction: row;
  }
  .products__item {
    position: relative;
    width: 220px;
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .products__item:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0;
  }
  .products__item::before {
    left: -16px;
    right: -16px;
    top: -105px;
    margin: 0 auto;
    width: 220px;
    height: 226px;
  }
  .product-name {
    font-size: 20px;
  }
  .product-text {
    width: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    width: 350px;
    margin: 0 auto 264px auto;
  }
  .products__item {
    width: 335px;
  }
  .products__item:not(:last-child) {
    margin-right: 25px;
  }
  .products__item::before {
    top: -200px;
    width: 335px;
    height: 335px;
  }
  .product-name {
    font-size: 30px;
  }
  .product-text {
    width: 241px;
    font-size: 16px;
    padding-bottom: 62px;
  }
  .our-products .moreBtn {
    margin-bottom: 50px;
  }
}
.slide {
  text-align: center;
}

.customer-img {
  margin: 0 auto;
  padding-bottom: 15px;
}

.customer-review {
  position: relative;
  z-index: 0;
  width: 280px;
  font-size: 12px;
  line-height: 2.5;
  color: var(--undertitleColor);
  background-color: var(--reviewBg);
  margin: 0 auto;
  padding-bottom: 25px;
}
.customer-review::before {
  position: relative;
  z-index: -1;
  top: 35px;
  left: -50px;
  width: 54px;
  height: 40px;
  content: url(../images/mobile/reviews/quotemark.png);
}

.customer-review-text {
  width: 157px;
  margin: 0 auto;
}

.customer-name {
  font-size: 14px;
  line-height: 1.85;
  color: var(--undertitleColor);
}
.customer-name::before {
  content: "...";
  display: block;
  margin: 0 auto;
  letter-spacing: 4px;
  border-radius: 50%;
  color: var(--brandColor);
  padding-top: 30px;
  padding-bottom: 15px;
}

.lines {
  padding: 5px 7px 5px 7px;
  background-image: repeating-linear-gradient(transparent, transparent 30px, var(--lineColor) 0, var(--lineColor) 31px);
}

.slick-dots li button:before {
  font-size: 12px;
}

.slick-dots li.slick-active button:before {
  background: url(../images/mobile/reviews/house.svg) no-repeat;
  opacity: 1;
  color: var(--brandColor);
}

.slick-dotted.slick-slider {
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .customer-img {
    padding-bottom: 19px;
  }
  .customer-review {
    width: 620px;
    font-size: 14px;
    line-height: 2.3;
  }
  .customer-review::before {
    top: 35px;
    left: -220px;
  }
  .customer-review-text {
    width: 460px;
  }
  .customer-name {
    font-size: 16px;
  }
  .customer-name::before {
    padding-top: 24px;
  }
  .slick-dotted.slick-slider {
    padding-bottom: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-img {
    padding-bottom: 15px;
  }
  .customer-review {
    width: 900px;
    font-size: 16px;
    line-height: 2;
  }
  .customer-review::before {
    top: 40px;
    left: -345px;
  }
  .customer-review-text {
    width: 700px;
  }
  .customer-name {
    font-size: 20px;
  }
  .customer-name::before {
    padding-top: 24px;
  }
  .slick-dotted.slick-slider {
    padding-bottom: 35px;
  }
}
:root {
  --main-font: "DM Sans" , sans-serif;
  --header-font: "Titan One", sans-serif;
  --mainColor: #FFF;
  --circleColor: #FFA5BA;
  --brandColor: #D41443;
  --headerBg: #FFB8CA;
  --iceCoffeeBg: #F0D1A5;
  --milkshakesBg: #C2E297;
  --hoverBuyBtn: #ECEBEB;
  --hoverProductsBtn: #840d2b;
  --howItsMadeBg: #FFF5F6;
  --undertitleColor: #000;
  --textColor: #907E8A;
  --buyBtn-modal: #E17992;
  --lineColor: #E1E1E1;
  --reviewBg: #FAFAFA;
  --socialBg: #FEA5BB;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */