.header {
    background-color: var(--headerBg);
    padding-top: 6px;
}

.header .container {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    max-width: 480px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    font-family: var(--header-font);
    font-size: 25px;
    font-weight: 400;
    line-height: 1.1333333333;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: var(--brandColor);
    padding-left: 10px;
}

.nav,
.buyBtn {
    display: none;
}

.nav__link {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3125;
    color: var(--mainColor);

    &:hover,
    :focus {
        color: var(--brandColor);
        animation: text-shadow-drop-center ease-in-out 800ms both;
        transition: cubic-bezier(0.4, 0, 0.2, 1) 800ms;
    }
}

.burger-menuBtn {
    display: flex;
    margin-left: auto;
    margin-right: 12px;
}

@media screen and (min-width: 768px) {
    .header {
        padding-top: 37px;
    }

    .header .container {
        max-width: 768px;
    }

    .logo-text {
        font-size: 30px;
    }

    .nav {
        display: none;
    }

    .burger-menuBtn {
        margin-left: auto;
        margin-right: 30px;
    }

    .buyBtn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        padding-top: 32px;
    }

    .header .container {
        max-width: 1280px;
    }

    .logo-text {
        font-size: 35px;
    }

    .nav {
        display: flex;
    }

    .nav {
        position: relative;
        z-index: 1;
        padding-left: 79px;
    }

    .nav__list {
        display: flex;
        gap: 35px;
    }

    .buyBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
    }

    .burger-menuBtn {
        display: none;
    }
}