.howItsMade {
    background-color: var(--howItsMadeBg);
}

.howItsMade-box {
    display: block;
    justify-content: center;
}

.howItsMade .section-title {
    width: 200px;
    margin-bottom: 29px;
    text-align: center;
}

.cow-img {
    width: 280px;
    height: 279px;
}

.howItsMade__item {
    width: 220px;
    margin: 0 auto;
}

.howItsMade-undertitle,
.howItsMade-text {
    font-size: 12px;
    line-height: 1.6;
}

.howItsMade-undertitle {
    color: var(--undertitleColor); 
    padding: 46px 0;
}

.howItsMade-text {
    color: var(--textColor);
    padding-bottom: 20px;
}

.advantages__list {
    display: block;
}

.advantages__item {
    padding-top: 38px;

    &::before {
        display: block;
        content: "";
        width: 50px;
        height: 50px;   
        background-repeat: no-repeat;
        background-size: contain; 
        animation: pulsate-fwd 0.5s ease-in-out infinite both;    
    }

    &:nth-child(1)::before {
        background-image: url(../images/mobile/advantages-icon1.svg);
    }

    &:nth-child(2)::before {
        background-image: url(../images/mobile/advantages-icon2.svg);
    }

    &:nth-child(3)::before {
        background-image: url(../images/mobile/advantages-icon3.svg);
    }
}

.advantages-number {
    font-weight: 400;
    padding: 15px 0;
}

.advantages-text {
    width: 230px;
}

@media screen and (min-width: 768px) {
    .howItsMade .section-title {
        width: 450px;
        margin-bottom: 50px;
    }

    .howItsMade-box {
        display: flex;
    }

    .cow-img {
        width: 340px;
        height: 339px;
        padding-right: 17px;
        animation: tilt-in-fwd-tl 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    .howItsMade__list {
        animation: tilt-in-fwd-tr 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }
    .howItsMade__item {
        width: 340px;
    }

    .howItsMade-undertitle,
    .howItsMade-text {
    font-size: 14px;
    }

    .howItsMade-undertitle {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .howItsMade-text {
        padding-bottom: 62px;
    }

    .advantages__list {
        display: flex;
    }
    
    .advantages__item {
        width: 180px;
        padding-top: 66px;

        &:not(:last-child) {
            margin-right: 60px;
        }
    }
    
    .advantages-number {
        padding-top: 36px;
        padding-bottom: 13px;
    }
    
    .advantages-text {
        width: 150px;
    }
}

@media screen and (min-width: 1200px) {
    .howItsMade {
        background-image: url(../images/desktop/howItsMade/sectionbg_desktop@1x.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/desktop/howItsMade/sectionbg_desktop@2x.png);
        }
    }
    
    .howItsMade .section-title {
        width: 534px;
        margin-bottom: 55px;
        text-align: center;
    }

    .cow-img {
        width: 516px;
        height: 516px;
        padding-right: 74px;
    }

    .howItsMade__item {
        width: 463px;
        margin: 0 auto;
    }

    .howItsMade-undertitle {
        font-size: 16px;
        padding-bottom: 35px;
    }
    
    .howItsMade-text {
        font-size: 14px;
        padding-bottom: 45px;
    }

    .advantages__item {
        width: 330px;
        padding-top: 39px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    
    .advantages-number {
        padding-top: 36px;
        padding-bottom: 15px;
    }
    
    .advantages-text {
        width: 250px;
    }
}