.logo-text,
.hero-title,
.section-title,
.product-name {
    font-family: var(--header-font);
    font-weight: 400;
    text-transform: uppercase;
}

.logo-text,
.highlighted-word {
    color: var(--brandColor);
}

.nav__link,
.hero-title,
.product-name,
.product-text {
    color: var(--mainColor);
}

.logo-text {
    font-size: 25px;
    padding-left: 10px;
}

.nav__link {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3125;


    &:hover,
    :focus {
        color: var(--brandColor);
        animation: text-shadow-drop-center ease-in-out 800ms both;
        transition: cubic-bezier(0.4, 0, 0.2, 1) 800ms;
    }
}

.hero-title {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: .04em;
}

.highlighted-word {
    font-size: 48px;
    line-height: 1.138;
    letter-spacing: .04em;
    animation: glow 1.5s infinite alternate;
}

.highlighted-word-section {
    font-size: 34px;
}

.productsBtn,
.how-its-madeBtn {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
}

.section-title {
    font-size: 18px;
    line-height: 1.138;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: var(--circleColor);
}

.product-name {
    font-size: 30px;
    line-height: 1.1333333333;
    letter-spacing: .04em;
    text-transform: uppercase;
    
}

.product-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.7;
}

@media screen and (min-width: 768px) {
    .logo-text {
        font-size: 30px;
    }

    .hero-title {
        font-size: 22px;
        }
    
    .highlighted-word {
        font-size: 34px;
    }

    .highlighted-word-section {
        font-size: 48px;
    }

    .eco-text {
        font-size: 8px;
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: .03em;
        color: var(--mainColor);
    }

    .counter-number {
        font-family: var(--header-font);
        font-weight: 400;
        font-size: 28px;
        line-height: 1.15;
        letter-spacing: .03em;
        color: var(--brandColor);
    }

    .counter-name1,
    .counter-name2 {
        font-size: 8px;
        color: var(--mainColor);
    }

    .section-title {
        font-size: 26px;
    }
    
    .product-name {
        font-size: 20px; 
    }
    
    .product-text {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    .logo-text {
        font-size: 35px;
    }

    .hero-title {
        font-size: 38px;
        }

    .highlighted-word {
        font-size: 58px;
    }

    .eco-text {
        font-size: 14px;
    }
    
    .counter-number {
        font-size: 46px;
    }

    .counter-name1,
    .counter-name2 {
        font-size: 14px;
    }

    .section-title {
        font-size: 30px;
    }
    
    .product-name {
        font-size: 30px; 
    }
    
    .product-text {
        font-size: 16px;
    }
}