:root {
    --main-font: 'DM Sans' , sans-serif;
    --header-font: 'Titan One', sans-serif;
    --mainColor: #FFF;
    --circleColor: #FFA5BA;
    --brandColor: #D41443;
    --headerBg: #FFB8CA;
    --iceCoffeeBg: #F0D1A5;
    --milkshakesBg: #C2E297;
    --hoverBuyBtn: #ECEBEB;
    --hoverProductsBtn: #840d2b;
    --howItsMadeBg: #FFF5F6;
    --undertitleColor: #000;
    --textColor: #907E8A;
    --buyBtn-modal: #E17992;
}